.content-card {

  &__brand {

    font-size: var(--font-size-sm);

    font-weight: 400;

    font-family: var(--font-system);

    line-height: var(--line-tight);

    margin-bottom: 4px;

  }

  &__title {

    font-size: var(--font-size-sm);

    font-weight: 400;

    font-family: var(--font-system);

  }

  &__price {

    display: flex;

    gap: 8px;

    align-items: center;

  }

  &__price-current {

    font-size: var(--font-size-sm);

    font-family: var(--font-system);

  }

  &__price-old {

    font-size: var(--font-size-sm);

    font-family: var(--font-system);

    color: #AAAAAA;

    text-decoration: line-through;

  }

}

/* mobile typography */

@media (max-width:576px) {

  .content-card {

    &__title {

      font-size: var(--font-size-xs);

      font-family: var(--font-primary);

      line-height: var(--line-relaxed);

      margin-bottom: 4px;

    }

    &__brand {

      font-size: var(--font-size-xs);

      font-weight: 500;

      font-family: var(--font-primary);

      line-height: var(--line-relaxed);

      margin-bottom: 4px;

    }

    &__price-current,
    &__price-old {

      font-size: var(--font-size-xs);

      font-family: var(--font-primary);

      line-height: var(--line-relaxed);

    }

  }

}